@import "tailwindcss";

@font-face {
  font-family: "Hauora";
  src: url("/fonts/Hauora-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Hauora";
  src: url("/fonts/Hauora-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Hauora";
  src: url("/fonts/Hauora-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Hauora";
  src: url("/fonts/Hauora-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Hauora";
  src: url("/fonts/Hauora-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Hauora";
  src: url("/fonts/Hauora-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Hauora";
  src: url("/fonts/Hauora-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@theme {
  --font-hauora: "Hauora", sans-serif;
  --color-animation-red: #d82222;
  --color-marker: #999999;
}

@layer components {
  .heading-h2 {
    @apply font-hauora font-medium text-[32px] leading-[100%] tracking-[0];
  }
}
